@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #0000001a transparent; /* thumb and track color */
}

.scrollbar::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
}

.scrollbar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #00c6ff, #0072ff);
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #0000001a;
}
